*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #71999d;
}
.PageUp{
	background-color: #052c30;
	padding: 3px;
	border-radius: 50px;
	width: 98%;
}
.cen{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 18px;

}
.rh{
	width: 8%;
	height: 853px;
	background-color: #007580;
	float: right;
}
.brg{
	text-align: center;
	margin: 110px 15px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.main-navbar{
	width: 92%;
	height: 60px;
	background-color: #007580;
	padding: 5px;
	box-shadow: -5px 12px 20px #284c4f;
}
.logo{
	font-size: 28px;
	font-weight: bold;
	font-family: cursive;
	padding: 9px;
	color: #032023;
}
.ColorRed{
	font-size: 15px;
	font-family: sans-serif;
	padding:5px;
	color: #891921;
}
.nav li{
	float: right;
	list-style-type: none;
	display: inline-block;
	padding: 25px;
	font-size: 20px;
}
.nav a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
a:hover{
	color: #0c2d30;
	transform: 1.5s;
}
.footer{
	width: 92%;
	height: 20px;
	background-color: #007580;
	padding: 9px;
	margin-top: 745px;
}
.footer p{
	text-align: center;
	font-size: 20px;
}